/* 
    Document   : faceBar.css
    Created on : Dec 7, 2012, 5:51:54 PM
    Author     : dwpyle1
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
body{
    margin-top:40px;
}

#faceBar{
    width:100%;
    height:40px;
    background: #00ccff;
    position:fixed;
    top:0px;
    left:0px;
}
#faceBar #fbContentSection{
    margin:0 auto;
    background:#000099;
    width:1000px;
    height:40px;
    padding:0 0 0 0;
}
#faceBar #fbContentSection.logo{
    height:38px;

}