/* 
    Document   : faceBar.css
    Created on : Dec 7, 2012, 5:51:54 PM
    Author     : dwpyle1
    Description:
        This style sheet creats the styles used in the FaceBar navigation pane.
        These are all custom and should only be used with the FaceBar Jquery plugin.
    Default Colors:
        Primary:#00ccff
        Secondary:#000099
*/
root { 
    display: block;
}
body{
    margin-top:40px;
}

#faceBar{
    width:100%;
    height:40px;
    background: #00ccff;
    position:fixed;
    top:0px;
    left:0px;
}
#faceBar #fbContentSection{
    margin:0 auto;
    background:#000099;
    width:1000px;
    height:40px;
    padding:0 0 0 0;
}
#faceBar #fbContentSection #logo{
    float:left;
}
#faceBar a{
    padding:0px 0px 0px 0px;
    margin:0px 0px 0px 0px;
    background: #00ccff;
}
#faceBar #fbContentSection #smallLinks{
    float:left;
    margin-left:100px;
}
#faceBar #fbContentSection img{
    height:35px;
    margin:0px 0px 0px 10px;
    padding:0px 10px 2px 10px;
    border:none;
    position:absolute;
    bottom:0px;
}
#faceBar #fbContentSection img:hover{
    background:#0000ff; 
}