/* 
    Document   : faceBar.css
    Created on : Dec 7, 2012, 5:51:54 PM
    Author     : dwpyle1
    Description:
        This style sheet creats the styles used in the FaceBar navigation pane.
        These are all custom and should only be used with the FaceBar Jquery plugin.
    Default Colors:
        Primary:#00ccff
        Secondary:#000099
*/
root { 
    display: block;
}
body{
    margin-top:40px;
}
#nav {
        margin:0 auto;
        background:#000099;
        width:1000px;
        padding:0 0 0 0;
        background:#000099;
        width:1000px;
}
#nav img{
    height: 40px;
    float:left;
    padding-right: 20px;
}

#nav li {
        display:inline;
        padding:0;
        margin:0;
}
#nav a:link,
#nav a:visited {
        color:#000;
        background:#b2b580;
        padding:20px 40px 4px 10px;
        float:left;
        width:auto;
        border-right:1px solid #42432d;
        text-decoration:none;
        font:bold 1em/1em Arial, Helvetica, sans-serif;
        text-transform:uppercase;
        text-shadow: 2px 2px 2px #555;
}
#nav a:hover,
#nav a:focus {
        color:#fff;
        background:#727454;
}
#nav li:first-child a {
        border-left:1px solid #42432d;
}
#faceBar{
    text-align: center;
    width:100%;
    background: #00ccff;
    position:fixed;
    top:0px;
    left:0px;
}
#nav #noPadding{
    padding:0px 40px 0px 10px;
}

